h1 {
  font-family: Georgia, 'Times New Roman', Times, serif; }

.navbar {
  background-color: #E54F1C; }

.footer {
  background-color: #E54F1C; }

.navbar-nav li {
  padding-left: 30px;
  padding-right: 30px; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

#ratesAndHoursCard, #beginnersCard, #facilitiesCard {
  background-color: #196392;
  color: white; }

#contactUsButton {
  background-color: #196392;
  color: white; }

#contactSendButton {
  background-color: #196392;
  color: white; }
